body, html {
	margin:0;padding:0;
}
.searchResults {
	width:600px;
	height:600px;
	overflow:scroll;
}
.searchResultThumb, .playlistThumb {
	margin:10px;
	float:left;
	width: 130px;
	text-align: center;
}
.newRow {
	clear:both;
}
#sharedPlaylist {
	overflow: hidden;
	border-top: solid 1px;	
	margin-bottom:12px;
	clear: both;
}
#nowPlaying {
	text-align: center;
	height:500px;	
}